#
# This file contains configuration flags to customize your site
#

# Name of your site (displayed in the header)
#name: Intersectional AI Toolkit
title: Intersectional AI Toolkit

# Short bio or description (displayed in the header)
description: ideas, ethics, & tactics for more equitable tech from queer, anti-racist, & feminist communities
#  | a zine collection and code library for artists, activists, engineers, and you

# Just the Docs
color_scheme: "light" #"dark"
search_enabled: true
remote_theme: pmarsceill/just-the-docs
# remote_theme: femmebot/jekyll-grid # doesn't work as remote theme mb? 

# URL of your avatar or profile pic (you could use your GitHub profile pic)
# avatar: 
#logo: "/assets/images/just-the-docs.png"

#
# Flags below are optional
#

# Aux links for the upper right navigation
aux_links:
  "PRINT Your Own":
    - "TK"
  "EDIT on GitHub":
    - "//github.com/sarahciston/intersectionalai"
  # "markdown cheatsheet":
  #   - "https://devhints.io/markdown"


# Makes Aux links open in a new tab. Default is false
aux_links_new_tab: true

last_edit_timestamp: true # show or hide edit time - page must have `last_modified_date` defined in the frontmatter
last_edit_time_format: "%b %e %Y at %I:%M %p" # uses ruby's time format: https://ruby-doc.org/stdlib-2.7.0/libdoc/time/rdoc/Time.html

# Footer "Edit this page on GitHub" link text
gh_edit_link: true # show or hide edit this page link
gh_edit_link_text: "Comment, edit, or remix this page on GitHub."
gh_edit_repository: "https://github.com/sarahciston/intersectionalai" # the github URL for your repo
gh_edit_branch: "main" # the branch that your docs is served from
# gh_edit_source: docs # the source that your files originate from
gh_edit_view_mode: "tree" # "tree" or "edit" if you want the user to jump into the editor immediately

# footer_content: "Distributed by an <a href=\"https://anticapitalist.software\">Anti-Capitalist Software License.</a>"
# Footer last edited timestamp

# SEARCH 
search:
  # Split pages into sections that can be searched individually
  # Supports 1 - 6, default: 2
  heading_level: 2
  # Maximum amount of previews per search result
  # Default: 3
  previews: 3
  # Maximum amount of words to display before a matched word in the preview
  # Default: 5
  preview_words_before: 5
  # Maximum amount of words to display after a matched word in the preview
  # Default: 10
  preview_words_after: 10
  # Set the search token separator
  # Default: /[\s\-/]+/
  # Example: enable support for hyphenated search words
  tokenizer_separator: /[\s/]+/
  # Display the relative url in search results
  # Supports true (default) or false
  rel_url: true
  # Enable or disable the search button that appears in the bottom right corner of every page
  # Supports true or false (default)
  button: false

# Jekyll-Grid
# Includes an icon in the footer for each username you enter
footer-links:
  dribbble:
  email: sarahciston@gmail.com
  facebook:
  flickr:
  github: sarahciston
  instagram: 
  linkedin:
  pinterest:
  rss: # just type anything here for a working RSS icon, make sure you set the "url" above!
  twitter: sarahciston
  stackoverflow: # your stackoverflow profile, e.g. "users/50476/bart-kiers"

# Your disqus shortname, entering this will enable commenting on posts
disqus:

# Enter your Google Analytics web tracking code (e.g. UA-2110908-2) to activate tracking
google_analytics: 

# Your website URL (e.g. http://barryclark.github.io or http://www.barryclark.co)
# Used for Sitemap.xml and your RSS feed
url: http://sarahciston.github.io

# If you're hosting your site at a Project repository on GitHub pages
# (http://yourusername.github.io/repository-name)
# and NOT your User repository (http://yourusername.github.io)
# then add in the baseurl here, like this: "/repository-name"
baseurl: "/intersectionalai"

#
# !! You don't need to change any of the configuration flags below !!
#

markdown: kramdown
highlighter: rouge
permalink: /:title/

# The release of Jekyll Now that you're using
version: v1.0.0

# Set the Sass partials directory, as we're using @imports
sass:
  sass_dir: _scss
  style: :expanded # You might prefer to minify using :compressed

# Use the following plug-ins
gems:
  - jemoji # Emoji please!
  - jekyll-sitemap # Create a sitemap using the official Jekyll sitemap gem
  - github-pages
  - just-the-docs

# Exclude these files from your production _site
exclude:
    - Gemfile
    - Gemfile.lock
    - LICENSE
    - README.md

## prose.io config
prose:
  # rooturl: 'posts' #add space for pages too? separate to make private? do i need prose for this site more/less?
  siteurl: 'https://sarahciston.github.io/sarahciston/intersectionalai'
  media: 'assets/img'
  metadata:
    posts:
      - name: "layout"
        field: 
          element: "select"
          value: "default"
          options: 
            - name: "default"
              value: "default"
            - name: "post"
              value: "post"
            - name: "page"
              value: "page"
      # - name: "layout"
      #   field: 
      #     element: "hidden"
      #     value: "default" #"posts"
      - name: "date"
        field:
          element: "text"
          label: "date"
          value: CURRENT_DATETIME
          type: "text"
      - name: "nav_order"
        field:
          element: "number"
          label: "nav_order"
          type: "number"
      - name: "title"
        field:
          element: "text"
          label: "title"
          type: "text"
      - name: "desc"
        field:
          element: "textarea"
          label: "desc"
          type: "textarea"
          help: "a brief description of the post, a subhead or dek"
      - name: "author"
        field: 
          element: "hidden"
          value: CURRENT_USER
    pages:
      - name: "layout"
        field: 
          element: "select"
          value: "default"
          options: 
            - name: "default"
              value: "default"
            - name: "post"
              value: "post"
            - name: "page"
              value: "page"
      # - name: "layout"
      #   field: 
      #     element: "hidden"
      #     value: "pages"
      - name: "nav_order"
        field:
          element: "number"
          label: "nav_order"
          type: "number"
      - name: "title"
        field:
          element: "text"
          label: "title"
          type: "text"
    users:
      - login: "sarahciston"
        user: "Sarah Ciston"
