/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@200;500&family=Material+Icons&family=Major+Mono+Display&family=Open+Sans:ital,wght@0,300;0,600;1,300;1,600&display=swap');

.body_font { font-family: "Open Sans", Georgia, Times, serif !important; }
.caption_font { font-family: "Open Sans", Arial, sans-serif !important; }
.monospace_font { font-family: "Jura", monospace !important; }
.heading_font, h1, h2, h3, h4, h5, h6 { font-family: "Jura", monospace !important; color: #9999ff }
/* .subhead, h3, h4, h5, h6 { font-family: "Jura", monospace !important; } */
.heading_weight { font-weight: 600; } 
.body_weight { font-weight: 300; }
.material-icons {
  font-family: "Material Icons" !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #ace600;
  background-color: #9999ff;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* create display fonts on select classes (custom)*/
.fancy_head { font-family: "Major Mono Display", monospace !important; }
[property="dcterms:title"] { font-family: "Major Mono Display", monospace !important; }


/* top navigation bar color */
/* .navbar { background-color: #9999ff; }  */

/* nav buttons */
/* a.nav_btn.primary { background-color: #9999ff; color: white; border-radius: 7px;} */
/* buttons a.nav_btn, a.nav_button.primary { background-color: #9999ff; color: #444; border-radius: 7px;} */
/* a.nav_btn:hover { background-color: #ace600; color: white; border-radius: 7px; } */


/*COLOR SCHEME */

/* links */
a { color: #9999ff; }
a:hover { 
   color: #ace600;
   decoration: underline;
}

/* main color */
/* buttons,  */
a.nav_btn, 
a.nav_btn.primary, 
.navbar, 
.navbar .closeIcon:hover, 
.navbar .rightArrowIcon:hover, 
.navbar li.mainMenu > .mainMenuDropdown > #mainMenuInside > li > ol > li.active > a.expand, 
.navbar li.mainMenu > .mainMenuDropdown > #mainMenuInside > li > ol > li.is_parent.active > a.expand, 
.navbar li.mainMenu>.mainMenuDropdown>#mainMenuInside>li>ol>li>a.expand:hover, 
.navbar ul.dropdown-menu li a:hover, 
.navbar ul.dropdown-menu li.active a, 
.navbar ul.dropdown-menu ul.description_more_link_container li a, .navbar ul.dropdown-menu ul.links li a, 
.navbar ul.dropdown-menu ul.description_more_link_container li a:active, 
.navbar ul.dropdown-menu ul.links li a:active,
.navbar ul.dropdown-menu ul.description_more_link_container li a:hover, 
.navbar ul.dropdown-menu ul.links li a:hover,
.navbar ul.dropdown-menu ul.description_more_link_container li a:focus, 
.navbar ul.dropdown-menu ul.links li a:focus 
.tocMenu .expandedPage .relationships ol>li>a.expand:hover,
.tocMenu .expandedPage .relationships ol>li>a.expand:focus, 
.tocMenu .expandedPage .relationships ol>li.is_parent.active>a.expand, 
.tocMenu .expandedPage .relationships ol>li.active>a.expand, 
#mobileMainMenuSubmenus li a:hover, 
#mobileMainMenuSubmenus li.active a, 
.pillarbox {
	background-color: #9999ff;
}

/* accent color */
.navbar .title_wrapper>a {
    color: #ace600;
}
a.nav_btn:hover {
    background-color: #ace600;
}

a.nav_btn, 
a.nav_btn.primary { 
    border-radius: 7px; 
}


/* icons in nav bar */
.mainMenu a.headerIcon,
.navbar #wayfindingIcon, 
.navbar #searchIcon, 
.navbar #helpIcon {background-image: none; color: #ace600;}


/* set background color behind article */
.bg_screen { background-color: white; }

/* article background */
.page {background-color:transparent;}


/*VISUAL PATH LAYOUT */
.padded-multiline a {
	background-color: rgba(0,0,0,.6);
}

.padded-multiline a:hover, .padded-multiline a:active, .padded-multiline a:visited {
    color:white;
}
.sp-block__content {
	font-size: 0px;
	padding: 0;
	background-color: transparent !important;
}

.sp-block h1 {
    text-transform: none;
    line-height: 3.9rem;
}

.sp-block .nav_btn {
	text-transform: none;
	font-size: 2rem;
}


/* SHOW & HIDE */

/* Text content area to full width */
.body_copy { max-width: none; }

/* box around images that are different sizes */
.pillarbox { visibility: hidden; }

/* comment icon at bottom */
#incoming_comments {display:none;}

/* citations and context */
img.path-nav { width: 7em; }

