/* Any styles that you want to apply **just** when the zine is printed go in here! */

@media print {

  main-header, 
  .breadcrumb-nav, 
  .site-title, 
  .page-header, 
  .menu, 
  .footnotes,
  .comments,
  .newComment,
  .post ,
  .site-footer { 
    display: none;
  }
  
  body {
    font-size: 58%; /*69%;*/
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
 
  .mini-img {
    max-width: 4.4rem;
  }
  
  /* The styles below here are specifically for creating the page layout.
   * -> DON'T CHANGE THESE <- unless you know what you're doing!
   */
  
  @page {
    size: landscape;
    margin: 1cm; /*0;*/
    bleed: 0;
  }
  
  .zine {
    width: 100vw;
    height: 100vh;
    display: grid;
    gap: 1.5px;
    background: lightgrey;
    grid-template-areas:
      "page-5 page-4 page-3 page-2"
      "page-6 page-7 page-8 page-1";
  }

  .zine-page {
    background: white;
    padding: .2rem;
    overflow: hidden;
  }

  .page-5, .page-4, .page-3, .page-2 {
    transform: rotate(180deg) translateX(-0.1px);
  }

  .page-1 {
    grid-area: page-1;
  }

  .page-2 {
    grid-area: page-2;
  }

  .page-3 {
    grid-area: page-3;
  }

  .page-4 {
    grid-area: page-4;
  }

  .page-5 {
    grid-area: page-5;
  }

  .page-6 {
    grid-area: page-6;
  }

  .page-7 {
    grid-area: page-7;
  }

  .page-8 {
    grid-area: page-8;
  }
}

