<!-- GLOSSARY.HTML is where you can define keywords that will be defined throughout any document across the zine collection -->
<!-- as long as the file has the line {% include glossary.html %} at the top of the main text (below the --- header section) -->
<!-- use the *[keyword]: definition format as shown below -->

*[adversarial network]: A type of machine learning often used to generate new data, such as images (GAN = Generative Adversarial Network). It requires two parts: one trained on existing data, and another trying to generate new data that can fool the first part. 
*[bias (technical)]: In a machine learning problem, bias is the technical definition for XXXXX.
*[bias (social)]: In a social context, bias can occur explicitly or implicitly and is embedded in digital tools, often amplified through their use. XXXXX 
*[code of conduct]: Usually written together by a group, these guidelines outline expectations for behavior and procedures for when members of a community don't meet those expectations. While some argue for structureless, free-speech zones online, many counter that a lack of guidelines highlights power dynamics existing in broader culture (Dunbar-Hester 2020).
*[machine learning]: A subset of AI, these are "systems that improve their performance in a given task with more and more experience or data" (Elements of AI).