/*
  Write your own styles here.

  We've included some classes to get you going
*/

.site-title {
  color: #7253ed !important;
  // color: orange; //custom isn't importing?
}

caption {
  font-size: @include fs-2;
}

img {
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
}

img.small {
  width: 100px;
  height: auto;
}

// .float-left
// img.left {
//   float: left;
// }

// .float-right
// img.right {
//   float: right;
// }