@import url('https://fonts.googleapis.com/css2?family=Jura:wght@200;500&family=Major+Mono+Display&family=Open+Sans:ital,wght@0,300;0,600;1,300;1,600&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

#menu-button {
    color: $link-color !important;
}

.small {
    width: 300px;
    height: auto;
    overflow: visible;
}

.site-title {
  font-family: "Jura", monospace !important;
}

h1, h2, h3, h4, h5, h6 {
  color: $purple-100;
  font-family: "Jura", monospace;
  font-weight: 500;
}

/* Any styles that you want to apply **just** when the zine is printed go in here! */

@media print {

    .no-print {
      display: none;
      visibility: hidden;
    }

    
    main-header,
    site-header,
    side-bar, 
    .breadcrumb-nav, 
    .site-title, 
    .page-header, 
    .menu, 
    .footnotes,
    .comments,
    .newComment,
    .post ,
    .site-footer { 
      display: none;
      border-width: 0px;
    }
    
    body {
      font-size: 58%; /*69%;*/
    }
    
    a {
      color: inherit;
      text-decoration: none;
    }
   
    .mini-img {
      max-width: 4.4rem;
    }

    hr {
      height: 0px;
      display: none;
    }
    
    
    /* The styles below here are specifically for creating the page layout.
     * -> DON'T CHANGE THESE <- unless you know what you're doing!
     */
    
    @page {
      size: landscape;
      margin: 1cm; /*0;*/
      bleed: 0;
    }
    
    .zine {
      width: 100vw;
      height: 100vh;
      display: grid;
      gap: 1.5px;
      background: lightgrey;
      grid-template-areas:
        "page-5 page-4 page-3 page-2"
        "page-6 page-7 page-8 page-1";
    }
  
    .zine-page {
      background: white;
      padding: .2rem;
      overflow: hidden;
    }
  
    .page-5, .page-4, .page-3, .page-2 {
      transform: rotate(180deg) translateX(-0.1px);
    }
  
    .page-1 {
      grid-area: page-1;
    }
  
    .page-2 {
      grid-area: page-2;
    }
  
    .page-3 {
      grid-area: page-3;
    }
  
    .page-4 {
      grid-area: page-4;
    }
  
    .page-5 {
      grid-area: page-5;
    }
  
    .page-6 {
      grid-area: page-6;
    }
  
    .page-7 {
      grid-area: page-7;
    }
  
    .page-8 {
      grid-area: page-8;
    }
  }
  
  